header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    position: relative
}
.caixa{
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute
}

nav{
    top: 110px 
}

nav{
    right: 0;
}

nav li {
    display: inline
}

nav li {
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: #C78C19
}


.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    box-sizing: border-box;
    padding: 30px 20px;
    margin: 0 1.5%;
    vertical-align: top;
    width: 30%;
    text-align: center;
    display: inline-block
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #088C19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
}

footer {
    padding: 40px 0;
    text-align: center;
    background: url("bg.jpg")
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}