#banner{

    width: 100%
}

.principal{
    background: #CCCCCCCC
}

.principal{
    padding: 30px
}

.titulo-principal{
  padding-left: 20px  
}
.titulo-centralizado{
    text-align: center
}

p{
    text-align:center;
}

#missão{
    font-size: 20px
}

em strong{
    color:red
}

.itens{
    font-style: italic
}
.benefícios{
    background: #FFFFFF
    
}

.benefícios{
    padding: 20px
}

.servicos{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios{
    width: 50%
}

}

.caixa{
    position: relative
}
.caixa{
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute
}

nav{
    top: 15px 
}

nav{
    right: 0;
}

nav li {
    display: inline
}

nav li {
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: #C78C19
}